.checkoutProduct
{
   display:flex;
   margin: 20px 0;
}
.checkoutProduct__info
{
   padding-left: 20px;
}
.checkoutProduct__rating
{
    display: flex;
}
.checkoutProduct__img
{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProductRemove__btn
{
    background: #f0c14b;
    margin-top: 10px;
    border: 1px solid;
    border-color:#a88734 #9c7e31 #846a29 ;
    color: #111;
    border-radius:2px;
}
.checkoutProduct__title
{
    font-size: 17px;
    font-weight: 800;
}