.home__image
{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom ,rgba(0,0,0,1),rgba(0,0,0,0));
   
} 
.home__slider
{
   
    margin-bottom: -100px;
}
.home
{
    margin-left: auto;
    margin-right: auto;
      display: flex;
    justify-content: center;
    max-width: 1500px;
}

.product__row
{
    
    display: flex;
    z-index: 1;
    margin-left:5px;
    margin-right:5px;

}

